{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        
        <a href="{{ go_back }}"> 
         <p class="text-center"> <button type="submit" class="btn btn-info mb-0" id="go_back">GO BACK</button> </p>
       </a>
      </div>
      <div class="col"></div>
    </div>
</div>



<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        
        <a href="{{ previous_page }}"> 
         <p class="text-center"> {{ description }} </p>
       </a>
      </div>
      <div class="col"></div>
    </div>
</div>


{% endblock %}

