{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}


<div class="col-auto">
    <button type="submit" class="btn btn-info mb-0" id="go_back">GO BACK</button>
</div>



  <div class="p-1 mb-0 bg-light text-white" id='my_block'>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            {% for bike in bikes_1  %}
              <a href="{% url 'bike:main_page' %}"> 
                <button type="button" class="btn btn-light"  type="submit" value="Submit">
                    <img src="{% static 'bike_app/bike_models/mountbikes/'  %}{{bike.img_link}}" class="img-fluid" alt="Responsive image" width="165">    
                    <p class="text-center">   <div class="col"> {{ bike.brand }} {{ bike.name }} </div>    </p>
                    <p class="text-center">   <div class="col">  Price - {{ bike.price }}  ₽ </div>    </p>   
                    {% if bike.available %}
                        <p class="text-center">   <div class="col">   </div>    </p>  
                    {% else %}
                        <p class="text-center">   <div class="col">  Нет в наличии </div>    </p>
                    {%endif%}   
                    <p class="text-center">   <div class="col">   </div>    </p>    
                </button>
              </a>
            {% endfor %}
        </div>
        <div class="col"></div>
        <div class="col">
            {% for bike in bikes_2  %}
              <a href="{% url 'bike:main_page' %}"> 
                <button type="button" class="btn btn-light"  type="submit" value="Submit">
                    <img src="{% static 'bike_app/bike_models/mountbikes/'  %}{{bike.img_link}}" class="img-fluid" alt="Responsive image" width="200" >  
                    <p class="text-center">   <div class="col"> {{ bike.brand }} {{ bike.name }} </div>    </p>
                    <p class="text-center">   <div class="col">  Price - {{ bike.price }} ₽ </div>    </p>   
                    {% if bike.available %}
                        <p class="text-center">   <div class="col">   </div>    </p>  
                    {% else %}
                        <p class="text-center">   <div class="col">  Нет в наличии </div>    </p>
                    {%endif%}   
                    <p class="text-center">   <div class="col">   </div>    </p>   
                </button>
              </a>
            {% endfor %}

            {% if table_column %}
                  <img  width="0">                      
                  
            {% endif %}

        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
  </div>




<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
      <div class="col">
          <p class="text-center"> <img width="50">  </p>
      </div>
      <div class="col"></div>
    </div>
</div>





{% endblock %}

