{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-2"></div>

      <div class="col">
        <a href="{{ go_back }}"> 
         <p class="text-center"> <button type="submit" class="btn btn-info mb-0" id="go_back"> GO BACK </button> </p>
       </a>
      </div>

      <div class="col"></div>

   {% if type == 'bmx' or type == 'child_bike' or type == 'city_bike' %}
      {% if user.is_authenticated %}
        {% if this_bike.mountbikes.available_no_size > 0 %}

        <div class="col">
            <form action= "{% url 'bike_app:bmxbike_model2' %}" method="post" >
             {% csrf_token %}
            <p class="text-center"> <button type="submit" class="btn btn-info mb-0" id="to_basket"> В Корзину </button> </p>
            </a>
        </div>

        {% endif %}
      {% endif %}
    {% endif %}

  {% if user.is_authenticated %}
    {% if size_list|length > 0 %} 
      <div class="col">
        <form action= "{% url 'bike_app:mountbike_model' %}" method="post" >
          {% csrf_token %}
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#entering" data-whatever="@getbootstrap">
                   В Корзину  </button>  

                  <div class="modal fade" id="entering" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><h5 class="text-dark">Выберете нужный размер:</h5></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
  
                          <div class="modal-body">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for size in size_list %}
                                <label class="btn btn-secondary">
                                    <input type="radio" name="{{ size }}" id= "{{ size }}" value="{{ size }}" autocomplete="off"> {{ size }}
                                </label>
                        {% endfor %}
                         </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-success" name="OK" id="OK"> OK </button>
                        </div>
                      </div>
                    </div>
                  </div>
          </form>
      </div>
    {% endif %}
  {% else %}
    {% if size_list %} 
         <div class="col">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
              В КОРЗИНУ
            </button>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><h4 class="text-danger"> Корзина недоступна </h4></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6 class="modal-title" id="exampleModalLabel"><p class="text-dark">
                      Для того чтобы добавить товар в корзину необходимо авторизоваться на сайте
                    </p></h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
  {% endif %}

      <div class="col-2"></div>
    </div>
</div>


<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
      <div class="col">

         {% if type == 'mountbike' %}
             <img src="{% static 'bike_app/bike_models/mountbikes/'  %}{{this_bike.mountbikes.img_link}}" class="img-fluid" alt="Responsive image" width="300" >  
         {% endif %}

         {% if type == 'roadbike' %}
             <img src="{% static 'bike_app/bike_models/roadbikes/'  %}{{this_bike.mountbikes.img_link}}" class="img-fluid" alt="Responsive image" width="300" >  
         {% endif %} 

         {% if type == 'bmx' %}
            <img src="{% static 'bike_app/bike_models/BMX/'  %}{{this_bike.mountbikes.img_link}}" class="img-fluid" alt="Responsive image" width="300" >  
         {% endif %}

         {% if type == 'city_bike' %}
            <img src="{% static 'bike_app/bike_models/Citybikes/'  %}{{this_bike.mountbikes.img_link}}" class="img-fluid" alt="Responsive image" width="300" >  
         {% endif %} 

         {% if type == 'child_bike' %}
            <img src="{% static 'bike_app/bike_models/Kidsbikes/'  %}{{this_bike.mountbikes.img_link}}" class="img-fluid" alt="Responsive image" width="300" >  
         {% endif %} 

      </div>
      <div class="col"> 
        <p class="text-center"> <h2 class="text-dark">  {{ this_bike.mountbikes.name }} <p></p>  
          цена: {{ this_bike.mountbikes.price }} ₽<p></p> 
          {% if type == 'mountbike' or type == 'roadbike' %}
          <h4 class="text-dark"> доступные размеры: {{ size }}</h4> </h2> 
          {% endif %}
        </p>
      </div>
      <div class="col"></div>
    </div>
</div>


<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col">
        <img height="30"> 
      </div>  
    </div>
</div>


<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">  <p class="text-center"> <p class="text-dark"> {{ this_bike.description }} <p></p> </div>
      <div class="col"></div>
    </div>
</div>



<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Брэнд: <p></p> </div>
      <div class="col">  <p class="text-center"> <p class="text-dark"> {{ this_bike.mountbikes.brand }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Модель: <p></p> </div>
      <div class="col">  <p class="text-center"> <p class="text-dark"> {{ this_bike.mountbikes.name }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Год: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.mountbikes.year }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"><p class="text-left"> <p class="text-dark"> Пол: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ sex }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Рама: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.frame }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Вилка: <p></p>  </div>
      <div class="col">  <p class="text-center"> <p class="text-dark"> {{ this_bike.fork }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Система: <p></p> </div>
      <div class="col">  <p class="text-center"> <p class="text-dark"> {{ this_bike.crank }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Педали: <p></p> </div>
      <div class="col">  <p class="text-center"> <p class="text-dark"> {{ this_bike.pedal }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Передний переключатель: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.front_shifter }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Задний переключатель: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.rear_shifter }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Манетки: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.lever }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Кассета: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.cassete }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Цепь: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.chain }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Обода: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.rims }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Шины: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.tyres }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Передняя втулка: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.front_hub }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Задняя втулка: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.rear_hub }} <p></p>  </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Передний тормоз: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.front_brake }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Задний тормоз: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.rear_brake }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>


<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Руль: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.handlebar }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Вынос: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.stem }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Грипсы: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.grips }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Рулевая колонка: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.headset }} <p></p> </div>
       <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Седло: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.saddle }} <p></p> </div><div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Подседельный штырь: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.seatpost }} <p></p> </div><div class="col"></div>
    </div>
</div>

{% if this_bike.warranty == 1 %}
  <div class="p-0 mb-0 bg-light text-white">
      <div class="row">
        <div class="col-4"></div>
        <div class="col"><p class="text-left"> <p class="text-dark"> Гарантия на раму: <p></p> </div>
        <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.warranty }} год <p></p> </div><div class="col"></div>
      </div>
  </div>
{% endif %}

{% if this_bike.warranty > 1 and this_bike.warranty < 5 %}
  <div class="p-0 mb-0 bg-light text-white">
      <div class="row">
        <div class="col-4"></div>
        <div class="col"><p class="text-left"> <p class="text-dark"> Гарантия на раму: <p></p> </div>
        <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.warranty }} года <p></p> </div><div class="col"></div>
      </div>
  </div>
{% endif %}

{% if this_bike.warranty >= 5 %}
  <div class="p-0 mb-0 bg-light text-white">
      <div class="row">
        <div class="col-4"></div>
        <div class="col"><p class="text-left"> <p class="text-dark"> Гарантия на раму: <p></p> </div>
        <div class="col"> <p class="text-center"> <p class="text-dark"> {{ this_bike.warranty }} лет <p></p> </div><div class="col"></div>
      </div>
  </div>
{% endif %}

<div class="p-0 mb-0 bg-light text-white">
    <div class="row">
      <div class="col-4"></div>
      <div class="col"> <p class="text-left"> <p class="text-dark"> Цена: <p></p> </div>
      <div class="col"> <p class="text-center"> <p class="text-dark"> {{  this_bike.mountbikes.price }} ₽ <p></p> </div>
       <div class="col"></div>
    </div>
</div>




<script type="application/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>


<script type="application/javascript">
    (function (window, document, $) {

            document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementById('XS');
            control.addEventListener('click', function (event) {
                if (control.checked) {
                    control.checked = false
                } else {
                  control.checked = true
                }
            })
        })

            document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementById('S');
            control.addEventListener('click', function (event) {
                if (control.checked) {
                    control.checked = false
                } else {
                  control.checked = true
                }
            })
        })



         document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementById('M');
            control.addEventListener('click', function (event) {
               if (control.checked) {
                    control.checked = false
                } else {
                  control.checked = true
                }
            })
        })



         document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementById('L');
            control.addEventListener('click', function (event) {
             if (control.checked) {
                    control.checked = false
                } else {
                  control.checked = true
                }
            })
        })




         document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementById('XL');
            control.addEventListener('click', function (event) {
              if (control.checked) {
                    control.checked = false
                } else {
                  control.checked = true
                }
            })
        })

    })(window, document, jQuery);
</script>


{% endblock %}