
{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> 
              <p class="text-center"> <h2 class="text-dark"> {{ username }}, добро пожаловать в корзину  </h2>></p>  
            </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col">
              <img height="30"> 
            </div>  
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> Список товаров в вашей корзине: <h4></p> 
            </div>
            <div class="col"></div>
          </div>
      </div>



      {% for user_item in orders %}
        <div class="p-0 mb-0 bg-light text-white">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">  <p class="text-center"> <p class="text-dark"> {{forloop.counter}}. {{ user_item.item_name }} {{ user_item.item_size }}<p></p> </div>
            <div class="col"></div>
            <div class="col-1">  <p class="text-right"> <p class="text-dark"> Цена-{{ user_item.item_price }}₽  <p></p> </div>    
            <div class="col"> <p></p>

              <!-- <a href="{% url 'order_app:basket' %}">  -->
              <button type="button" class="btn btn-danger"  type="submit" value = "no" id="del{{user_item.id}}" name="del{{user_item.id}}">
               удалить товар </button>
             <!-- </a> -->

            </div>
            <div class="col"> <p></p>
              <button type="button" class="btn btn-success"  type="submit" value="yes" id="add{{user_item.id}}" name="add{{user_item.id}}"
              > оформить заказ </button> </div>
                              <p></p>
            <div class="col-2"></div>
          </div>
      </div>
      {% endfor %}


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col">
              <img height="30"> 
            </div>  
          </div>
      </div>


      {% if orders %}
      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  
               <button type="button" class="btn btn-info"  type="button" id="all_in_basket" name="all_in_basket"
               > оформить заказ на все товары в корзине </button>
            </div>
            <div class="col"></div>
          </div>
      </div>
      {% else %}
         <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> Ваша корзина пуста <h4></p> 
            </div>
            <div class="col"></div>
          </div>
      </div>

      {% endif %}



<script type="application/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>



<script type="application/javascript">
    (function (window, document, $) {
            var pressed = []
            var press = {'pressed':pressed}
            
            var ordered = []
            var order = {'pressed':ordered}


            document.addEventListener('DOMContentLoaded', function () {
            var order_all = document.getElementById('all_in_basket');     
              order_all.addEventListener("click",function (event) {   
                      window.location.href = ("{% url 'order_app:make_order_all' %}")
            })
       })



            document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementsByClassName('btn btn-danger');

            if (control.length == 1){
              control[0].addEventListener("click",function (event) { 
                if (control[0].className =='btn btn-danger') {
                      pressed.push(event.target.id)
                      window.location.href = ("{% url 'order_app:basket' %}" + '?' + encodeURIComponent(pressed))
                         }
                })
            }
          
           
            for (var i = 0; i < control.length - 1; i++) {
              event.target.addEventListener("click",function (event) { 
                  
                  if (event.target.className =='btn btn-danger') {
                      pressed.push(event.target.id)
                      window.location.href = ("{% url 'order_app:basket' %}" + '?' + encodeURIComponent(pressed))
                }
            })
          }
       })



          document.addEventListener('DOMContentLoaded', function () {
            var control2 = document.getElementsByClassName('btn btn-success');

            if (control2.length == 1){
              control2[0].addEventListener("click",function (event) { 
                if (control2[0].className =='btn btn-success') {
                      pressed.push(event.target.id)
                      window.location.href = ("{% url 'order_app:make_order' %}" + '?' + encodeURIComponent(pressed))
                         }
                })
            }


            for (var i = 0; i < control2.length - 1; i++) {
              event.target.addEventListener("click",function (event) { 
                  
                  if (event.target.className =='btn btn-success') {
                      ordered.push(event.target.id)
                      window.location.href = ("{% url 'order_app:make_order' %}" + '?' + encodeURIComponent(ordered))
                }
            })
          }
       })


    })(window, document, jQuery);
</script>


{% endblock %}
  