
{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> <p class="text-center"> <img src="{% static 'authentification_app/welcome.png' %}" height="175">  </p> </div>
            <div class="col"></div>
          </div>
      </div>

{% if miss %}
  
  <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> <p class="text-center"> <h2 class="text-dark"> Товара нет в наличии  </h2>></p>  </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"> <img height="30"> </div>  
          </div>
      </div>

{% else %}
      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> <p class="text-center"> <h2 class="text-dark"> Товар добавлен в корзину </h2>></p>  </div>
            <div class="col"></div>
          </div>
      </div>

      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"> <img height="30"> </div>  
          </div>
      </div>

{% endif %}
{% endblock %}