{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> 
              <p class="text-center"> <h2 class="text-dark"> Пожалуйста уточните детали для доставки товара  </h2>></p>  </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> Информация о товаре: <h4></p>   </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-dark">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <h5 class="text-left"> Товар - {{item.item_name}} {{item.item_size}}  &emsp;&emsp;&emsp; Цена - {{item.item_price}} ₽ 
            </h5>  </div>
            
            <div class="col"></div>
          </div>
      </div>


<div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> Укажите точный адрес доставки: <h4></p>   </div>
            <div class="col"></div>
          </div>
      </div>


           <div class="p-0 mb-0 bg-light text-dark">
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">    

               <form action= "{% url 'order_app:make_order' %}" method="post" >
                {% csrf_token %}
                <div class="form-group">
                  <label for="formGroupExampleInput">Страна</label>
                  <input type="text" class="form-control" id="country" name="country" >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Город</label>
                  <input type="text" class="form-control" id="city" name="city" >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2"> Улица </label>
                  <input type="text" class="form-control" id="street" name="street" >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2"> Дом </label>
                  <input type="text" class="form-control" id="house" name="house" >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2"> Почтовый код </label>
                  <input type="text" class="form-control" id="postcode" name="postcode" >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2"> Ваш контактный телефон </label>
                  <input type="text" class="form-control" id="phone" name="phone" >
                </div>
                 <p class="text-center"> </p>
                <p class="text-center"> <button type="submit" class="btn btn-info mb-0" id="submit_form" value='Submit'>Submit</button> </p>
              </form>

            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
      </div>
   

    {% endblock %}


