{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

<div class="p-0 mb-0 bg-light text-dark">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">    
        <p class="text-center"> <h2 class="text-dark"> Ваш аккаунт был успешно удален  </h2></p>  
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
</div>

<div class="p-0 mb-0 bg-light text-dark">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">    
        <p class="text-center"> <h4 class="text-dark"> Поздравляем, для нас вы мертвы  </h4></p>  
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
</div>



{% endblock %}

  

