{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

<div class="p-2 mb-0 bg-light text-white">
    <div class="row">
      <div class="col"></div>
	  <div class="p-5 mb-5 bg-light text-dark">
			<p class="text-center"> 
				<h1 class="bg-light">Регистрация:</h1>
			 </p>
				<form action="{% url 'authentification_app:register' %}" method="POST">
					 <p class="bg-light"> 
				    	{% csrf_token %}
				    	{{ form.as_p }}
				      <p class="text-center"> <button type="submit" class="btn btn-info mb-0" id="submit_form" value='Submit'>Submit</button> </p>
				   
				</form>
			</p>
	  </div>
      <div class="col"></div>
    </div>
</div>



{% endblock %}

