
{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> <p class="text-center"> <h2 class="text-dark"> Ваши завершенные заказы:  </h2></p> </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col">
              <img height="30"> 
            </div>  
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">
            
            <div class="col-2"> <p class="text-center"> <h5 class="text-dark"> Номер заказа:  </h5></p>  </div>
            
            <div class="col-2">  <p class="text-center"> <h5 class="text-dark"> Предмет:  </h5></p> </div>

            <div class="col-1"> <p class="text-center"> <h5 class="text-dark">  Размер:  </h5></p> </div>

            <div class="col-2">    <p class="text-center"> <h5 class="text-dark"> Цена:  </h5></p> </div>

            <div class="col-2">    <p class="text-center"> <h5 class="text-dark">  Дата создания:  </h5></p> </div>

             <div class="col-2">    <p class="text-center"> <h5 class="text-dark">  Дата завершения:  </h5></p> </div>
          
            
            </div>
      </div>



{% for i in finished_orders %}

     <div class="container-fluid p-0 mb-0  bg-light text-dark " > 
      ___________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    
     </div>

  {% if i.order_item_name|length < 5 %}
    {% for k,m in i.order_item_name %}
      {% if forloop.counter > 1 %}

      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">

            <div class="col-2">  <p class="text-left"> <p class="text-dark">  </p></p> </div>

            <div class="col-2 ">  <p class="text-center"> <p class="text-dark"> {{ k }} </p></p> </div>
            
            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ m }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark">  </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark">  </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark">  </p></p> </div>

            
            </div>
      </div>

        {% else %}

      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">

            <div class="col-2">  <p class="text-left"> <p class="text-dark"> № {{ i.id }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ k }} </p></p> </div>
          
            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ m }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.sum_price }} ₽ </p></p> </div>

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> {{ i.date_created }} </p></p> </div>

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> {{ i.date_delivered }} </p></p> </div>
          
            </div>
        </div>
        {% endif %}
      {% endfor %}
    {% else %}

      <div class="p-2 mb-0 bg-light text-dark">
          <div class="row">
            

    
            <div class="col-2"> <p class="text-left "> <p class="text-dark"> № {{ i.id }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.order_item_name }} </p></p> </div>

            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ i.order_item_size }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.sum_price }} ₽ </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.date_created }} </p></p> </div>

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> {{ i.date_delivered }} </p></p> </div>
            
            <div class="col-1"></div>
          </div>
      </div>
  {% endif %}
{% endfor %}


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> <h4></p> 
            </div>
            <div class="col"></div>
          </div>
      </div>


{% endblock %}
