
{% extends 'bike_app/_base.html' %}

{% load static %}

{% block content %}

      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col"> <p class="text-center"> <h2 class="text-dark"> Ваши активные заказы:  </h2></p> </div>
            <div class="col"></div>
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col">
              <img height="30"> 
            </div>  
          </div>
      </div>


      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">

            <div class="col-2"> <p class="text-center"> <h5 class="text-dark"> Номер заказа:  </h5></p>  </div>
            
            <div class="col-2">  <p class="text-center"> <h5 class="text-dark"> Предмет:  </h5></p> </div>

            <div class="col-1"> <p class="text-center"> <h5 class="text-dark">  Размер:  </h5></p> </div>

            <div class="col-2">    <p class="text-center"> <h5 class="text-dark"> Цена:  </h5></p> </div>

            <div class="col-2">    <p class="text-center"> <h5 class="text-dark">  Дата создания:  </h5></p> </div>

            <div class="col-1">    <p class="text-center"> <h5 class="text-dark">  Оплачен:  </h5></p> </div>

            <div class="col-2">    <p class="text-center"> <h5 class="text-dark">  Получен:  </h5></p> </div>
          
            </div>
      </div>



{% for i in active_orders %}

     <div class="container-fluid p-0 mb-0  bg-light text-dark " > 
      ___________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    
     </div>

  {% if i.order_item_name|length < 20 %}
    {% for k,m in i.order_item_name %}
      {% if forloop.counter > 1 %}

      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">
    
            <div class="col-2">  <p class="text-center"> <p class="text-dark">  </p></p> </div>

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> {{ k }} </p></p> </div>
            
            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ m }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark">  </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark">  </p></p> </div>

            <div class="col-1"> <p class="text-center"> <p class="text-dark"> </p></p> </div>
            
            <div class="col-2"> <p class="text-center"> <p class="text-dark"> </p></p> </div>

            </div>
      </div>

        {% else %}

      <div class="p-2 mb-0 bg-light text-dark">
            <div class="row">

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> № {{ i.id }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ k }} </p></p> </div>
          
            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ m }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.sum_price }} ₽ </p></p> </div>

            <div class="col-2">  <p class="text-center"> <p class="text-dark"> {{ i.date_created }} </p></p> </div>

            {% if i.is_paid == True %}
            <div class="col-1">  <p class="text-center"> <p class="text-dark"> ДА </p></p> </div>
            {% else %}
            <div class="col-1">  <p class="text-center"> <p class="text-dark"> НЕТ </p></p> </div>
            {% endif %}

            <button type="button" class="btn btn-light"  type="button" id="{{ i.id }}" name="{{ i.id }}">
              <div class="col-2"> <p class="text-center"> <p class="text-dark"> Я получил заказ </p></p> </div>
            </button>

            </div>
        </div>
        {% endif %}
      {% endfor %}
    {% else %}

      <div class="p-2 mb-0 bg-light text-dark">
          <div class="row">
    
            <div class="col-2"> <p class="text-center"> <p class="text-dark"> № {{ i.id }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.order_item_name }} </p></p> </div>

            <div class="col-1"> <p class="text-center"> <p class="text-dark"> {{ i.order_item_size }} </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.sum_price }} ₽ </p></p> </div>

            <div class="col-2"> <p class="text-center"> <p class="text-dark"> {{ i.date_created }} </p></p> </div>

            {% if i.is_paid == True %}
            <div class="col-1">  <p class="text-center"> <p class="text-dark"> ДА </p></p> </div>
            {% else %}
            <div class="col-1">  <p class="text-center"> <p class="text-dark"> НЕТ </p></p> </div>
            {% endif %}
            
            <button type="button" class="btn btn-light"  type="button" id="{{ i.id }}" name="{{ i.id }}">
              <div class="col-2"> <p class="text-center"> <p class="text-dark"> Я получил заказ </p></p> </div>
            </button>

          </div>
      </div>
  {% endif %}
{% endfor %}


      <div class="p-2 mb-0 bg-light text-white">
          <div class="row">
            <div class="col"></div>
            <div class="col">  <p class="text-center"> <h4 class="text-dark"> <h4></p> 
            </div>
            <div class="col"></div>
          </div>
      </div>



<script type="application/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

<script type="application/javascript">
    (function (window, document, $) {
         
            document.addEventListener('DOMContentLoaded', function () {
            var control = document.getElementsByClassName('btn btn-light'); 

            if (control.length == 1){
              control[0].addEventListener("click",function (event) { 
                if (control[0].className =='btn btn-light') {
                      window.location.href = ("{% url 'authentification_app:user_active_orders' %}" + '?' + control[0].id)
                         }
                })
            }


           for (var i = 0; i < control.length - 1; i++) {
              event.target.addEventListener("click",function (event) { 
                if (event.target.className =='btn btn-light') {
                      window.location.href = ("{% url 'authentification_app:user_active_orders' %}" + '?' + event.target.id)
              }
            })
          }


       })

    })(window, document, jQuery);
</script>


{% endblock %}
